<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <a href="/"><button>Back</button></a>
    <form method="POST" action="/new">
        <label for="message">Message: </label>
        <input type="text" name="message" required>

        <label for="user">User: </label>
        <input type="text" name="user" required>

        <input type="submit">
    </form>
</body>
</html>